body {
    background-color : #d7fce2;  
}

.logo {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    letter-spacing: 1px;
    color: rgb(32, 27, 27);   
   font-size: 50px;
}
.newEx{
    font-family: 'Padauk', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.timeNow{
    color:darkslategrey;
    letter-spacing: 0.5px;
    
}


/* .resistenceContainer{
    margin-left: 180px;
}

.cardioContainer{
    margin-left: 180px;
}  */


.btnAdd {

    display: inline-block;
    border-radius: 3%;
    width: 100px;
    height: 40px;     
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.616);
    transition: .6s;
    /* text-align: center; */
    /* vertical-align: middle; */
    margin-top: 5px;    
    background-color: #6e6a6a;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;        
    color: whitesmoke;
 
}

.small{
    color: silver;
}

.recentBtn {
    

    border-radius: 3%;
    width: 100px;       
    text-align: center;
    vertical-align: middle;
    background-color: rgb(33, 70, 82);      
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 1rem;      
    margin-right: 5px;    
    border: 2px gray ;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 8px;
    box-shadow: 0px 2px 4px rgba(78, 77, 77, 0.616);
}


.addNew{
    color: white;
}


input{
    list-style: none;
    text-decoration: none;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.616);
   
}
input:focus, textarea:focus, select:focus{
    outline: none;
}



.closeIcon {
    font-size: 25px;
    color: silver;
}
.succesModal{
    font-size: 25px;
    margin-left:auto; 
    font-family: Arial, Helvetica, sans-serif;
    color: silver;
    
}



.recentTitle{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: black;
    margin-top: 0 auto;   

}
.hide {
    display: none;
}

.centerDiv{
  align-content: center;
}



#resistanceComplete , #cardioComplete{
    background-color:  #222928; 

    color: white;
    letter-spacing: 0.5;
    font-weight: bolder;
    align-content: center !important;
    border: none;
    letter-spacing: 1px;
}

#cardioUpdate, #updateResistance {

    background-color:  rgb(94, 146, 194);   

    color: white;
    letter-spacing: 0.5;
    font-weight: bolder;
    align-content: center !important;
    border: none;
  
}

.cardioContainer{
 color:gray
    
}


@media screen and (max-width: 1000px) {
    .resistenceContainer{
        margin: 0;
     }
     
     .cardioContainer{
        margin: 0;
     }
     
     form {
        width: 100%;
        margin-left: auto;
      }

 }


@media screen and (max-width: 576px) { 

    .resistenceContainer{
       margin: auto;
    }
    
    .cardioContainer{
       margin: auto;
    }
    
    
form {
    width: 100%;
    margin-left: auto;
  }
.logo{
    font-size: 40px;
}
.divRecents{
    display: none;
}
  
.btnAdd{
    margin-top: 5px;
}
}
